.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 30px);
    background-color: $white;
    border-radius: $global-radius;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    line-height: 1.5;
    &--about{
        overflow: hidden;
        margin-top: 50px;
        padding: 0 75px;
        padding-bottom: 40px;    
    }
    &--small{
        .card{
            &_top{
                padding: 16px 14px;
                padding-left: 12px;
                align-items: flex-start;
            }
            &_flag{
                flex: 0 0 40px;
                margin-right: 12px;
                width: 40px;
                height: 40px;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                &--globe{
                    background-color: #d0011b;
                }
                &--prepay{
                    background-color: #f6a623;
                }
                &--earphones-alt{
                    background-color: #f8e81c;
                }
                &--shuffle{
                    background-color: #7ed321;
                }
                &--arrow-down-circle{
                    background-color: #4990e2;
                }
            }
        }
    }
    &--thin{
        padding: 20px 36px 30px;
        flex-direction: row;
        flex-wrap: wrap;
        .header{
            text-align: left;
            margin-top: 0;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .card_content{
            width: 100%;
            flex: 0 0 100%;
        }
    }
    &--description{
        margin-bottom: 70px;
        .card{
            &_flag{
                flex: 0 0 30px;
                font-size: 30px;
                float: left;
                margin-right: 20px;
            }
        }
        + .map{
            margin-top: -40px;
        }
    }
    &--categories{
        .menu{
            margin-bottom: -20px;
            li{
                width: 25%;
                margin-bottom: 20px;
            }
            a{
                display: table;
                padding: 0;
                color: $secondary-color;
                &:hover{
                    color: $primary-color;
                }
            }
        }
    }
    &--large{
        .card{
            &_top{
                padding: 17px 30px;
            }
            &_flag{
                flex: 0 0 40px;
                margin-right: 30px;
                font-size: 40px;
            }
            &_name{
                font-weight: 300;
                &_location{
                    a:first-child{
                        color: $primary-color;
                    }
                }
            }
            &_brief{
                font-weight: 300;
                padding: 25px 30px 20px 30px;
                .menu{
                    line-height: 1.4;
                    li{
                        margin-bottom: 5px;
                    }
                }
                b{
                    color: $primary-color;
                    font-weight: 300;
                    margin-right: 8px;
                }
            }
        }
    }
    &--location{
        .card{
            &_flag{
                flex: 0 0 40px;
                margin-right: 30px;
                font-size: 40px;
            }
            &_name{
                color: $primary-color;
                font-size: 16px;
                font-weight: 300;
                display: flex;
                align-items: center;
                i{
                    color: $secondary-color;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
            &_content{
                padding: 0 96px 65px;
                &_cols{
                    column-count: 3;
                    column-gap: 35px;
                    .list{
                        break-inside: avoid;
                    }
                }
            }
            &_more{
                margin-top: 20px;
                border-top: 1px solid $light-gray;
                padding-top: 18px;
                line-height: 1.9;
                font-weight: 300;
                a{
                    display: inline-flex;
                    align-items: center;
                    color: $secondary-color;
                    &:hover{
                        color: $primary-color;
                    }
                }
                i{
                    margin-left: 40px;
                }
            }
        }
    }
    &--faq{
        break-inside: avoid;
        padding: 20px 20px 30px 20px;
        .header{
            height: 38px;
            font-size: 14px;
            margin-bottom: 13px;
            line-height: 1.4;
        }
        ul{
            list-style: none;
            margin: 0;
            color: $primary-color;
        }
    }
    &--expanded{
        padding-bottom: 60px;
        .header{
            font-weight: 400;
        }
        .card{
            &_top{
                display: block;
                text-align: center;
                padding: 44px 20px 30px;
                .header{
                    margin: 0;
                }
            }
            &_content{
                padding: 0 100px 0;
                font-weight: 400;
            }
        }
    }
    &--pricelist{
        .card{
            &_content{
                font-weight: inherit;
            }
        }
    }
    &--contact{
        padding: 40px;
        display: block;
        .header{
            height: auto;
        }
        a{
            color: $secondary-color;
            &:hover{
                color: $primary-color
            }
        }
        .card{
            &_more{
                display: block;
                color: $black;
                margin-top: 12px;
                i{
                    font-size: 13px;
                    margin-left: 10px;
                }
            }
        }
    }
    &--form{
        .header{
            margin-bottom: 30px;
            text-align: left;
            font-weight: 400;
        }
        .card{
            &_content{
                padding-top: 38px;
                padding-bottom: 38px;
                .column{
                    max-width: 400px;
                    &:last-child{
                        .header{
                            text-align: right;
                        }
                    }
                }
            }
        }
        textarea{
            min-width: 100%;
        }
        .button{
            margin: 0;
            margin-top: 34px;
        }
        table{
            width: 100%;
            td{
                vertical-align: top;
                padding-bottom: 15px;
                &:first-child{
                    padding-right: 20%;
                }
            }
            a{
                color: $secondary-color;
                &:hover{
                    color: $primary-color
                }
            }
        }
    }
    &--search{
        .header{
            color: $medium-gray;
            font-weight: 300;
        }
        .card{
            &_top{
                padding-top: 36px;
                padding-bottom: 30px;
                justify-content: center;
            }
            &_content{
                display: flex;
                padding: 0 70px;
                padding-bottom: 80px;
                input{
                    margin-bottom: 0;
                }
                i{
                    display: block;
                    cursor: pointer;
                    color: $medium-gray;
                    align-self: center;
                    margin: 0 18px;
                    transition: 300ms;
                    &:hover{
                        color: $black;
                    }
                }
            }
        }
        .button{
            margin-left: 45px;
        }
    }
    &--taxi{
        .card{
            &_top{
                padding: 30px 70px;
                .header{
                   color: $medium-gray;
                   font-weight: 300; 
                }
            }
            &_content{
                padding: 0 70px;
            }
        }
    }
    &--review{
        .card{
            &_top{
                padding: 30px 100px 0;
                text-align: left;
                &_select{
                    color: $dark-gray;
                }
            }
            &_content{
                padding-top: 30px;
            }
            &_more{
                margin-top: 70px;
                margin-left: 90px;
                a{
                    color: $secondary-color;
                    &:hover{
                        color: $primary-color;
                    }
                }
                i{
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
        }
    }
    &--404{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 36px;
        margin-bottom: 0;
        height: 567px;
        font-weight: 300;
        &_content{
            max-width: 270px;
            margin: 0 65px;
            &--left{
                text-align: center;
            }
        }
        &_img{
            margin-bottom: 12px;
        }
        &_button{
            margin: 20px 0; 
        }
    }
    &--profile{
        margin-top: 45px;
        margin-bottom: 0;
        .card{
            &_tabs{
                padding: 15px 35px 0;
                &_tab{
                    margin-right: 10px;
                }
            }
            &_content{
                padding: 0 40px 70px;
                &_empty{
                    color: #cccccc;
                    text-align: center;
                    font-weight: 700;
                    margin-top: 65px;
                    margin-bottom: 30px;
                    &_img{
                        margin-bottom: 0.8rem;
                    }
                }
            }
        }
    }

    &_tabs{
        box-shadow: inset 0 -1px 0 $light-gray;
        padding: 0 100px;
        padding-top: 34px;
        display: flex;
        font-weight: 400;
        margin-bottom: 38px;
        color: $medium-gray;
        a{
            color: $medium-gray;
        }
        &_tab{
            display: flex;
            align-items: center;
            padding: 0 10px;
            height: 45px;
            margin-right: 40px;
            border-bottom: 2px solid transparent;
            transition: 300ms;
            &:hover, &.active{
                border-bottom-color: $primary-color;
            }
            &:last-child{
                margin: 0;
            }
        }
    }
    &_top{
        display: flex;
        align-items: center;
        padding: 15px 26px;
        &--fixed{
            min-height: 72px;
        }
    }
    &_flag{
        flex: 0 0 20px;
        margin-right: 26px;
        border-radius: 50%;
        overflow: hidden;
        font-size: 20px;
        span{
            display: block;
        }
    }
    &_header{
        font-size: 16px;
        color: $black;
        margin: 0;
        line-height: 1.5;
        &--large{
            font-size: 20px;
            font-weight: 300;
            color: $secondary-color;
        }
        &--medium{
            font-size: 18px;
            color: $secondary-color;
        }
    }
    &_name{
        font-weight: 500;
        &_link{
            color: $black;
        }
        &_location a{
            color: $dark-gray;
            &:hover{
                color: $primary-color;
            }
        }
        &_link{
            display: block;
        }
    }
    &_image{
        position: relative;
        &--prepay{
            &::before{
                content: 'Без предоплаты';
                position: absolute;
                right: 0;
                top: 20px;
                padding: 4px 12px;
                background-color: $primary-color;
                font-size: 12px;
                color: $white;
            }
        }
        img{
            width: 100%;
        }
    }
    &_brief{
        padding: 11px 16px;
        padding-bottom: 0;
        color: $black;
        font-weight: 400;
    }
    &_content{
        color: $secondary-color;
    }
    &_bottom{
        padding: 18px 16px;
        &--wo{
            .card_bottom_more{
                color: $dark-gray;
                &:hover{
                    color: $primary-color;
                }
            }
            .card_bottom_price{
                font-size: 12px;
                color: $primary-color;
                font-weight: 500;
            }
        }
        &_add{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 9px;
        }
        &_price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 300;
            color: $secondary-color;
            b{
                color: $primary-color;
                font-weight: 300;
            }
            span{
                color: $medium-gray;
            }
        }
        &_more{
            display: block;
            font-weight: 500;
        }
    }
    &_add{
        display: block;
        font-size: 23px;
        color: $primary-color;
        transition: 300ms;
        &:hover{
            color: $button-background-hover;
        }
    }
    &_comments{
        font-size: 11px;
        i{
            margin-right: 7px;
            vertical-align: middle;
        }
    }
}