.dropdown-pane{
    color: #cacaca;
    &::before{
        content: '';
        position: absolute;
        top: -6px;
        border: 6px solid #263238;
        border-top: 0;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-width: 6px
    }
    &.tiny, &.small{
        padding: 10px;
        
    }
    &--list{
        &.small{
            padding-left: 0;
            padding-right: 0;
        }
        &::before{
            right: 65px;
        }
        a{
            padding: 8px 35px;
            color: #cacaca;
            transition: 300ms;
            &:hover{
                background-color: #283d45;
            }
            &:hover, &.active{
                color: $primary-color;
            }
        }
    }
    &--support{
        font-size: 11px;
        &::before{
            right: 79px;
        }
        table{
            tr{
                &:first-child{
                    td{
                        padding: 0;
                    }
                }
                &:last-child{
                    td:last-child{
                        font-weight: 400;
                        text-align: right;
                    }
                    a{
                        color: $white;
                        width: 90px;
                        margin-left: -5px;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                    span{
                        color: $primary-color
                    }
                }
                td{
                    vertical-align: top;
                    padding-top: 6px;
                    &:first-child{
                        color: #828588;
                    }
                    &:last-child{
                        width: 50%;
                    }
                }
            }
        }
        .menu{
            a{
                padding: 2px 0px;
                padding-bottom: 9px;
                color: $white;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        a{
            display: block;
        }
    }
    &--unlogged{
        font-size: 11px;
        &::before{
            right: 58px;
        }
        .dropdown-pane{
            &_inner{
                display: flex;
            }
            &_avatar{
                flex: 0 0 60px;
                width: 60px;
                height: 60px;
                background-color: #f2f2f2;
                border-radius: 50%;
                margin-right: 15px;
                font-size: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .button{
            font-weight: 400;
            margin: 0;
            margin-top: 10px;
        }
    }
    &--logged{
        font-size: 14px;
        &::before{
            right: 37px;
        }
        .menu{
            a{
                color: $white;
                padding: 8px 0;
                &:hover, &.active{
                    color: $primary-color;
                }
            }
        }
    }
    &--countries{
        &.opened{
            display: block;
            visibility: visible;
        }
        a{
            position: relative;
            &::after {
                content: "\e606";
                font-family: 'simple-line-icons';
                line-height: 1;
                font-size: 12px;
                color: $primary-color;
                position: absolute;
                right: 13px;
                top: 50%;
                transition: 300ms;
                opacity: 0;
                transform: translate(-10px, -50%);
            }
            &:hover{
                &::after{
                    opacity: 1;
                    transform: translate(0, -50%);
                }
            }
        }
    }
    &--cities{
        &::before{
            display: none;
        }
    }
    &--hint{
        font-size: 11px;
        color: $white;
        &::before {
            right: 35px;
        }
    }
    &_header{
        font-size: 14px;
        color: $primary-color;
    }  
}