.list{
    width: 100%;
    margin-bottom: 35px;
    &--numbered{
        list-style: none;
        margin: 0;
        counter-reset: list;
        li:before{
            counter-increment: list;
            content: counter(list) '. ';
            color: $primary-color;
        }
    }
    &--review {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .menu {
            a {
                color: $medium-gray;
                margin: 0;
            }
        }

        .list_all {
            border-top: 1px solid $light-gray;
            margin: 0 -25px;
            margin-top: 18px;
            padding: 7px 25px;

            i {
                font-size: 9px;
                margin-left: 7px;
            }
        }
    }

    &--large {
        font-size: 18px;
        color: $medium-gray;
        li + li{
            margin-top: 1em;
        }
    }
    .header{
        display: inline-block;
        margin: 0;
        margin-bottom: 16px;
        font-size: 14px;
        text-align: left;
        line-height: 1.9;
    }
    .menu{
        a{
            display: inline-block;
            line-height: 1.9;
            padding: 0;
            margin-bottom: 10px;
            color: $secondary-color;
            &:hover{
                color: $primary-color;
            }
        }
    }
    &_all{
        a{
            line-height: 1.9;
            color: $medium-gray;
            display: inline-flex;
            align-items: center;
            &:hover{
                color: $primary-color;
            }
        }
        i{
            font-size: 13px;
            margin-left: 28px;
        }
    }
}