.slider{
    &-handle{
        box-shadow: 0.5px 0.5px 2px 1px rgba(0,0,0,.32);
        outline: none;
        border: 1px solid $primary-color;
        transition: none;
        &:hover{
            background-color: $white;
        }
    }
    &-fill{
        transition: none;
    }
}