.owl{
    &-nav{
        position: absolute;
        top: 50%;
        left: -50px;
        width: calc(100% + 100px);
        transform: translateY(-50%);
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        z-index: -1;
        i{
            display: block;
            transition: 200ms;
        }
        .disabled{
            color: $light-gray;
        }
    }
    &-dots{
        position: absolute;
        bottom: -45px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &-carousel{
        button.owl-dot {
            width: 15px;
            height: 15px;
            background-color: $light-gray;
            border-radius: 50%;
            margin: 0 5px;
            transition: 300ms;

            &.active {
                background-color: $primary-color;
            }
        }

        button.owl-prev,
        button.owl-next {
            transition: 300ms;

            &.disabled {
                opacity: 0.25;
            }
        }
    }    
}

.slider{
    margin-top: 30px;
    margin-bottom: 100px;
}