.table{
    border-spacing: 0;
    color: $black;
    margin: 0 -20px;
    margin-bottom: 75px;
    line-height: 1.3;
    tr{
        &:nth-child(2){
            td{
                border: 0;
            }
        }
    }
    th{
        padding: 10px 20px;
        text-align: right;
        font-weight: 300;
        &:first-child{
            text-align: left;
        }
        &:nth-last-child(-n+2){
            padding-left: 0;
        }
    }
    td{
        padding: 14px 20px;
        border-top: 1px solid $light-gray;
        color: $medium-gray;
        &:first-child{
            color: $black;
        }
        &:nth-child(2){
            text-align: right;
        }
        &:nth-last-child(-n+2){
            width: 1%;
            text-align: right;
            white-space: nowrap;
        }
    }
    &--transfer{
        th{
            &:nth-last-child(-n+2){
                padding-right: 73px;
            }
        }
    }
    &--taxi{
        .table{
            &_actions{
                display: flex;
                margin: 0;
                justify-content: center;
            }
        }
        th{
            vertical-align: top;
        }
        td{
            &:nth-child(2){
                width: 14.2%;
            }
            &:nth-last-child(-n+3){
                text-align: center;
            }
        }
    }
    &--pricelist{
        text-align: right;
        font-size: 12px;
        margin-top: 20px;   
        margin-left: -100px;
        margin-right: -100px;
        &:last-child{
            margin-bottom: 0;
        }
        th{
            font-weight: 400;
            font-size: 14px;
            &:first-child{
                font-size: 18px;
                padding-left: 100px;
            }
            &:nth-last-child(-n+2){
                padding-left: 20px;
                text-align: center;
            }
            &:last-child{
                padding-right: 100px;
            }
        }
        td{
            padding: 12px 20px;
            &:nth-last-child(-n+2){
                text-align: center;
            }
            &:first-child{
                text-align: left;
                font-size: 14px;
                padding-left: 100px;
            }
            &:last-child{
                padding-right: 100px;
            }
        }
        tr{
            &:not(.table_more){
                td:first-child{
                    a{
                        color: $black;
                        &:hover{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        .table{
            &_add{
                font-size: 19px;
            }
            &_wish{
                display: inline-block;
                margin: 0;
                i{
                    display: block;
                    font-size: 20px;
                }
            }
        }
    }
    &--tour{
        text-align: right;
        margin-top: 20px;
        margin-bottom: 50px;
        font-weight: 300;
        &:last-child{
            margin-bottom: 0;
        }
        th{
            font-weight: 400;
            font-size: 14px;
            &:first-child{
                font-size: 16px;
            }
            &:nth-last-child(-n+2){
                padding-left: 20px;
                text-align: center;
            }
        }
        td{
            padding: 12px 20px;
            &:nth-last-child(-n+2){
                text-align: center;
            }
            &:nth-last-child(-n+4){
                width: 1%;
            }
            &:first-child{
                text-align: left;
            }
        }
        .table{
            &_add{
                font-size: 19px;
            }
            &_wish{
                display: inline-block;
                margin: 0;
                i{
                    display: block;
                    font-size: 20px;
                }
            }
        }
    }

    &--profile{
        margin: 0 -15px 70px;
        th{
            font-weight: 400;
            text-align: left;
            vertical-align: top;
            color: $secondary-color;
            padding: 0 15px 10px;
            &:nth-last-child(-n+2){
                padding-left: 15px;
            }
        }
        td{
            padding: 5px 15px;
            border: 0;
            color: $secondary-color;
            &:first-child{
                padding: 0;
            }
            &:nth-last-child(-n+2),
            &:nth-child(2) {
                text-align: left;
            }
            &.primary{
                color: $primary-color;
                font-weight: 400;
            }
        }
        .text-center{
            font-weight: 400;
        }
    }
    &_program{
        td{
            border: 0;
            padding-top: 0;
            padding-bottom: 7px;
            &:first-child{
                color: $secondary-color;
                font-size: 12px;
            }
        }
    }
    &_actions{
        display: inline-flex;
        align-items: center;
        margin-left: 20px;
        a{
            display: flex;
        }
    }
    &_wish{
        display: block;
        margin-left: 5px;
        i{
            font-size: 15px;
        }
    }
    &_more{
        i{
            margin-left: 15px;
            font-size: 12px;
        }
    }
    &_reserve{
        &--closed{
            td:not([class^="table"]){
                text-decoration: line-through;
                color: #aaaaaa;
            }
        }
    }
    &_buttons {
        font-size: 0;
        text-align: right;
        width: 1%;
        white-space: nowrap;
        i {
            font-size: 20px;
        }
        &--done  i{
            color: $success-color;
        }
        &--cancelled i{
            color: $alert-color;
        }
    }
    &_button{
        color: $primary-color;
        i{
            vertical-align: middle;
            font-size: 15px;
        }
        + button{
            margin-left: 10px;
        }
    }
    &_small{
        font-size: 12px;
    }
    &_status.table_status {
        width: auto;
        text-align: left;
        font-size: 12px;
        color: #448aff;
    }
    &_action{
        font-size: 12px;
    }
    &_divider{
        hr{
            border-color: #e7e3e3;
        }
    }
}