-
    var page = 'page';
    var type = 'page';
    var name = 'Популярные города';
    var logged = true;
include includes/_item

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap--lmenu
            include includes/_header
            include includes/_lmenu
            include includes/_banner
            section.row.section
                include includes/_path
            section.row.items
                .row.items_content
                    +item('', 'Таиланд', 'Паттайя', '', 0, 0, 0, 1)
                    +item('', 'Россия', 'Сочи', '', 0, 0, 0, 1)
                    +item('', 'ОАЭ', 'Дубаи', '', 0, 0, 0, 1)
                    +item('', 'Россия', 'Геленджик', '', 0, 0, 0, 1)
                    +item('', 'Черногория', 'Подгорица', '', 0, 0, 0, 1)
                    +item('', 'Польша', 'Варшава', '', 0, 0, 0, 1)
            include includes/_footer