-
    var page = 'location';
    var type = 'page';
    var country = 'Таиланд';
    var name = 'Паттайя';
    var logged = true;
include includes/_list

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap--lmenu
            include includes/_header
            include includes/_lmenu
            include includes/_banner
            section.row.column.section
                include includes/_path
                .card.card--thin.card--description
                    .header
                        .card_flag
                            img(src="https://unsplash.it/30?random", alt="")
                        =name
                        | ,  
                        =country
                    p.header.primary
                        | 123 Предложения
                    .card_content
                        | Паттайя — курортный город на юго-востоке Таиланда. Расположен на восточном побережье Сиамского залива, примерно в 165 км к юго-востоку от Бангкока. Находится в провинции Чонбури. Название города дословно означает «юго-западный ветер в начале сезона дождей».Население — 115 840 зарегистрированных жителей (по состоянию на 2015), реальное население превышает 500 тыс. жителей (учитывая туристов в пик сезона). Так, за весь 2005 год зарегистрировано около 5,4 млн туристов, в 2011 году в сезон город посещало около 2 млн туристов.Паттайя — самоуправляющаяся муниципальная единица, покрывающая районы Наклыа, Нонгпры и части районов Хуаяй и Нонгплалай. Город расположен в так называемой Индустриальной зоне Восточного побережья Таиланда. При этом город остаётся преимущественно туристическим центром, а промышленность развита слабо.
                .map
                    iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d124458.37913141373!2d100.85271953123362!3d12.88685333606695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310295924d31d7e3%3A0xa97ff301a9bd10ff!2z0J_QsNGC0YLQsNC50Y8sINCR0LDQvdC70LDQvNGD0L3Qsywg0KfQvtC90LHRg9GA0LggMjAxNTAsINCi0LDQuNC70LDQvdC0!5e0!3m2!1sru!2sua!4v1506170726654', height='325', frameborder='0', allowfullscreen)
                .card.card--location
                    .card_top
                        .card_flag
                            img(src="https://unsplash.it/40?random", alt="")
                        .card_name
                            | Паттайя, Тайланд
                            i.icon-arrow-down
                    .card_content
                        .card_content_cols
                            +list('Экскурсии', ['Река Квай и Водопад Эраван','Прайс- лист на экскурсии в Паттайе','Тропический парк Нонг Нуч','Аквапарк в Паттайе','Река Квай и Водопад Эраван','Тропический парк Нонг Нуч','Аквапарк в Паттайе','Река Квай и Водопад Эраван','Река Квай и Водопад Эраван','Тропический парк Нонг Нуч','Аквапарк в Паттайе','Река Квай и Водопад Эраван','Река Квай и Водопад Эраван','Река Квай и Водопад Эраван','Тропический парк Нонг Нуч','Аквапарк в Паттайе'], true)
                            +list('Шоппинг', ['Gems Gallery - Галерея Самоцветов','Аптека Дом здоровья в Паттайе','Салон кожи и меха Toscano в Паттайе','Салон кожи и меха в Паттайе','Gems Gallery - Галерея Самоцветов','Аптека Дом здоровья в Паттайе','Салон кожи и меха Toscano в Паттайе','Салон кожи и меха в Паттайе'], true)
                            +list('Недвижмость', ['Река Квай и Водопад Эраван','Тропический парк Нонг Нуч','Аквапарк в Паттайе','Тропический парк Нонг Нуч','Аквапарк в Паттайе'], true)
                            +list('SPA', ['СПА салон Кита Кито в Паттайе','Orhideya Spa в Паттайе','СПА салон Кита Кито в Паттайе','Orhideya Spa в Паттайе','СПА салон Кита Кито в Паттайе','Orhideya Spa в Паттайе'], true)
                            +list('Недвижмость', ['Река Квай и Водопад Эраван','Тропический парк Нонг Нуч','Аквапарк в Паттайе','Тропический парк Нонг Нуч','Аквапарк в Паттайе'], true)
                            +list('Недвижмость', ['Река Квай и Водопад Эраван','Тропический парк Нонг Нуч','Аквапарк в Паттайе','Тропический парк Нонг Нуч','Аквапарк в Паттайе'], true)
                        .card_more
                            a(href="#")
                                | Смотреть больше услуг в этом городе
                                i.icon-arrow-down
            include includes/_footer