-
    var page = 'page';
    var type = 'page';
    var name = 'Популярные страны';
    var logged = true;
include includes/_item

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap--lmenu
            include includes/_header
            include includes/_lmenu
            include includes/_banner
            section.row.section
                include includes/_path
            section.row.items
                .row.items_content
                    +item('', 'Таиланд', '', '', 0, 0, 0, 1)
                    +item('', 'Турция', '', '', 0, 0, 0, 1)
                    +item('', 'Кипр', '', '', 0, 0, 0, 1)
                    +item('', 'Мальдивы', '', '', 0, 0, 0, 1)
                    +item('', 'Черногория', '', '', 0, 0, 0, 1)
                    +item('', 'Польша', '', '', 0, 0, 0, 1)
            include includes/_footer