-
    var page = 'faq';
    var type = 'faq';
    var name = 'Часто задаваемые вопросы';
    var logged = true;
mixin faq(title, content)
    .card.card--thin.card--faq
        .header.primary
            =title
        .card_content
            !=content

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap--lmenu
            include includes/_header
            include includes/_lmenu
            include includes/_banner
            section.row.column.section
                include includes/_path
            section.row.column.items--faq
                +faq('Где можно узнать расценки на все ваши услуги?', 'Все услуги компании Онлайн-Паттайя и цены на них вы можете посмотреть в прайсах:<ul><li>- прайс лист на экскурсии и трансферы</li><li>- прайс лист такси</li><li>- цены трансферов на острова</li><li>- цены трансферов за визами.</li></ul>')
                +faq('Можно ли заранее делать заказ?', 'Заказать любую услугу вы можете заранее, но желательно не больше 1 месяца. Самое позднее время заказа:<br>- экскурсий, трансферов на острова, поездок за визами - накануне вечером до 21:00;<br>- такси, трансферов в магазины, спа - не позднее, чем за 1 час до предполагаемого времени поездки.')
                +faq('В какой валюте принимается оплата?', 'Оплата всех услуг принимается в тайских батах, некоторые услуги можно оплатить долларами или банковской картой.')
                +faq('Как мне сделать заказ на вашем сайте?', 'Заказать очень просто, для этого вы можете воспользоваться одним из следующих способов:<ol><li>Позвоните в центр поддержки клиентов Online-Pattaya по тел. +66 60002 4036 или 8 800 100 6618 (бесплатно из России).</li><li>Воспользуйтесь формой заказа в самой услуге. Заполните все поля и не забудьте нажать кнопку "Заказать".</li><li>Напишите нам в форме обратной связи: <a href="#">Отправьте E-mail</a>.</li><li>Общайтесь со службой поддержки в чате: <a href="#">Online поддержка</a>.</li></ol>')
                +faq('Требуется ли заранее оплачивать такси или экскурсию?', 'Большинство услуг можно оформить без предоплаты, а оплатить водителю такси или гиду на экскурсии. Однако для заказа некоторых услуг требуется внести предоплату. Информация о необходимости предоплаты вы увидите в самой услуге. Оплата можно произвести с помощью банковских карт VISA или MasterCard, а также электронными деньгами WebMoney и Яндекс.Деньги через сервис приема платежей PayMaster. После подтверждения корректности введенных вами данных в форме заказа, на указанный адрес электронной почты вам придет ссылка на оплату.')
            include includes/_footer