doctype html
html(lang="ru")
    include includes/head
    body
        main.wrap
            include includes/header
            section.row.column
                .card.card--about
                    p.header О сервисе Zalooka
                    p.card_text
                        | Мы компания Zalooka. Мы делаем всё возможное для того, чтобы ваш отдых в Паттайе (Таиланд) был еще более комфортным, интересным и безопасным. Наша особенность в том, что мы предлагаем возможность заказать любые туристические услуги в городе Паттайя через интернет или по телефону. Самые выгодные цены на отдых в Паттайе в сезоне 2016/2017 при высоком качестве услуг. Все услуги и предложения можно заказать без регистрации прямо на сайте. Просто делайте заказ и наслаждайтесь отдыхом, компания Online-Pattaya.ru позаботится обо всем.
            section.row.excursion
                p.small-12.column.header Экскурсии
                .small-12.column.row.excursion_content
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
            section.row.shopping
                p.small-12.column.header Шоппинг
                .small-12.column.row.shopping_content
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
            section.row.spa
                p.small-12.column.header SPA
                .small-12.column.row.spa_content
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
                    .large-4.column
                        .card
                            .card_top
                                .card_flag
                                    img(src="//placehold.it/20x20", alt="")
                                .card_name
                                    a.card_name_link(href="#") Тропический парк Нонг Нуч
                                    a.card_name_location(href="#") Тайланд, Паттайя
                            .card_image
                                img(src="//placehold.it/345x190", alt="")
                            .card_brief
                                | Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.
                            .card_bottom
                                .card_bottom_price
                                    a.card_bottom_more(href="#") Узнать больше
                                    br
                                    | Взрослый 
                                    b 549
                                    | бат
                                    br
                                    |  Детский 
                                    b 449
                                    | бат
                                .card_bottom_add
                                    .card_bottom_rating
                                        
                                        | 2.8
                                    button.card_add
            section.row.benefits
                p.small-12.column.header Наши преимущества
                .small-12.column.row.align-center.benefits_content
                    .large-4.column
                        .card.card_small
                            .card_small_image
                                img(src="", alt="")
                            .card_small_content
                                p.card_small_header Онлайн заказ
                                | Заказывайте туристические услуги и оплачивайте их безопасно прямо на сайте.
                    .large-4.column
                        .card.card_small
                            .card_small_image
                                img(src="", alt="")
                            .card_small_content
                                p.card_small_header Без предоплаты
                                | Многие услуги можно заказывать не внося предоплату.
                    .large-4.column
                        .card.card_small
                            .card_small_image
                                img(src="", alt="")
                            .card_small_content
                                p.card_small_header Поддержка клиентов 24/7
                                | Используйте удобный для себя способ связи (тел., чат, звонок с сайта и т.д.)
                    .large-4.column
                        .card.card_small
                            .card_small_image
                                img(src="", alt="")
                            .card_small_content
                                p.card_small_header Легко поменять заказ
                                | В любое время вы можете изменить или отменить заказ
                    .large-4.column
                        .card.card_small
                            .card_small_image
                                img(src="", alt="")
                            .card_small_content
                                p.card_small_header Лучшие цены на все
                                | Мы гарантируем лучшие цены на услуги, а также специальные предложения.
            include includes/footer
        script(src="/js/min/app-min.js")