- var page = 'main';
include includes/_item

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap
            include includes/_header
            include includes/_banner
            section.row.column
                .card.card--about
                    p.header О сервисе Zalooka
                    .card_content
                        | Мы компания Zalooka. Мы делаем всё возможное для того, чтобы ваш отдых в Паттайе (Таиланд) был еще более комфортным, интересным и безопасным. Наша особенность в том, что мы предлагаем возможность заказать любые туристические услуги в городе Паттайя через интернет или по телефону. Самые выгодные цены на отдых в Паттайе в сезоне 2016/2017 при высоком качестве услуг. Все услуги и предложения можно заказать без регистрации прямо на сайте. Просто делайте заказ и наслаждайтесь отдыхом, компания Online-Pattaya.ru позаботится обо всем.
            section.row.excursion
                p.small-12.column.header Экскурсии
                +item('Тропический парк Нонг Нуч', 'Таиланд', 'Паттайя', 'Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.', false, true, true)
                +item('Река Квай и водопад Эраван', 'Таиланд', 'Паттайя', 'Красивейший национальный парк с 7-ми уровневым водопадом.', false, true, true)
                +item('Мадагаскар', 'Морская прогулка, проходящая по программе all inclusive.', true, true, true)
            section.row.shopping
                p.small-12.column.header Шоппинг
                +item('Центр косметологии VitaMax', 'Таиланд', 'Паттайя', 'Все препараты изготовлены на натуральной основе.')
                +item('Ювелирная фабрика Gems Gallery', 'Таиланд', 'Паттайя', 'Добро пожаловать - на фабрику "Джемс Галлери".')
                +item('Duty Free King Power Pattaya', 'Таиланд', 'Паттайя', 'Единственный в Паттайе центр беспошлинной торговли Duty Free.')
            section.row.spa
                p.small-12.column.header SPA
                +item('7 Spa', 'Таиланд', 'Паттайя', 'Оригинальные программы для обретения внутренней гармонии и пополнения сил для больших планов.')
                +item('СПА салон Кита Кито', 'Таиланд', 'Паттайя', 'Отправляйтесь в эксклюзивное Спа-путешествие от Кита Кито и просто наслаждайтесь отдыхом.')
                +item('Oasis Spa Pattaya', 'Таиланд', 'Паттайя', 'Побалуйте себя в оазисе наслаждения и красоты!')
            include includes/_benefits
            include includes/_footer