-
    var page = 'pricelist';
    var type = 'pricelist';
    var name = 'Прайс Лист';
    var logged = true;
include includes/_item

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap--lmenu
            include includes/_header
            include includes/_lmenu
            include includes/_banner
            section.row.column.section
                include includes/_path
                .card.card--expanded.card--pricelist
                    .card_top
                        .header.big.primary
                            | Цены на экскурсии в Паттайе 2016
                        .header.tiny
                            | Цены указаны в 
                            span(data-toggle="currencies")
                                .head_link
                                    | Тайских батах
                                i.icon-arrow-down
                    .card_content
                        br
                        img(src="https://unsplash.it/900/300?random", alt="")
                        table.table.table--pricelist
                            tr
                                th
                                    a(href="./tours.html")
                                        | Познавательные экскурсии
                                th
                                    | Дни
                                th
                                    | Взрослые
                                th
                                    | Дети
                                th
                                    | Забронировать
                                th
                                    | Список желаний
                            tr
                                td
                                    a(href="#")
                                        | Альпака Парк и Земля Королей
                                td
                                    | Пт
                                td 2800
                                td 1650
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="6")
                                    a(href="#")
                                        | Аюттайя
                            tr.table_program
                                td
                                    | Древняя столица Сиама
                                td
                                    | Пн, Вт, Ср, Чт, Сб
                                td 1890
                                td 1199
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="6")
                                    a(href="#")
                                        | Аюттайя + Река Квай + Эраван
                            tr.table_program
                                td
                                    | Насыщенная 2-х дневная экскурсия
                                td
                                    | Пн, Чт
                                td 2999
                                td 1549
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="6")
                                    a(href="#")
                                        | Затерянный Мир
                            tr.table_program
                                td
                                    | Национальные парки, пещеры, водопад
                                td
                                    | Пн, Ср, Пт
                                td 2299
                                td 1350
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="6")
                                    a(href="#")
                                        | Изумительный Таиланд
                            tr.table_program
                                td
                                    | Национальный парк Кхао Яй, рафтинг и водопады
                                td
                                    | Вт, Чт, Вс
                                td 2149
                                td 1199
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr.table_program
                                td
                                    | + путешествие на квадроциклах по джунглям
                                td
                                    | Вт, Чт, Вс
                                td 2599
                                td 1399
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr.table_more
                                td(colspan="6")
                                    a(href="#")
                                        | Смотреть все экскурсий
                                        i.icon-arrow-down
                        img(src="https://unsplash.it/900/300", alt="")
                        table.table.table--pricelist
                            tr
                                th
                                    a(href="./spa.html")
                                        | SPA
                                th
                                    | Дни
                                th
                                    | Трансфер
                                th
                                    | Забронировать
                                th
                                    | Список желаний
                            tr
                                td
                                    a(href="#")
                                        | Альпака Парк и Земля Королей
                                td
                                    | Пт
                                td Бесплатный
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="6")
                                    a(href="#")
                                        | Аюттайя
                            tr.table_program
                                td
                                    | Древняя столица Сиама
                                td
                                    | Пн, Вт, Ср, Чт, Сб
                                td Бесплатный
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Аюттайя + Река Квай + Эраван
                            tr.table_program
                                td
                                    | Насыщенная 2-х дневная экскурсия
                                td
                                    | Пн, Чт
                                td Бесплатный
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Затерянный Мир
                            tr.table_program
                                td
                                    | Национальные парки, пещеры, водопад
                                td
                                    | Пн, Ср, Пт
                                td Бесплатный
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Изумительный Таиланд
                            tr.table_program
                                td
                                    | Национальный парк Кхао Яй, рафтинг и водопады
                                td
                                    | Вт, Чт, Вс
                                td Бесплатный
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr.table_program
                                td
                                    | + путешествие на квадроциклах по джунглям
                                td
                                    | Вт, Чт, Вс
                                td Бесплатный
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr.table_more
                                td(colspan="5")
                                    a(href="#")
                                        | Смотреть все экскурсий
                                        i.icon-arrow-down
                        img(src="https://unsplash.it/g/900/300?random", alt="")
                        table.table.table--pricelist
                            tr
                                th
                                    a(href="./taxi.html")
                                        | Такси
                                th
                                    | Дни
                                th
                                    | Эконом/Минивэн/Минибас
                                th
                                    | Забронировать
                                th
                                    | Список желаний
                            tr
                                td
                                    a(href="#")
                                        | Альпака Парк и Земля Королей
                                td
                                    | Пт
                                td 2500/3000/4500
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="6")
                                    a(href="#")
                                        | Аюттайя
                            tr.table_program
                                td
                                    | Древняя столица Сиама
                                td
                                    | Пн, Вт, Ср, Чт, Сб
                                td 2500/3000/4500
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Аюттайя + Река Квай + Эраван
                            tr.table_program
                                td
                                    | Насыщенная 2-х дневная экскурсия
                                td
                                    | Пн, Чт
                                td 2500/3000/4500
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Затерянный Мир
                            tr.table_program
                                td
                                    | Национальные парки, пещеры, водопад
                                td
                                    | Пн, Ср, Пт
                                td 2500/3000/4500
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Изумительный Таиланд
                            tr.table_program
                                td
                                    | Национальный парк Кхао Яй, рафтинг и водопады
                                td
                                    | Вт, Чт, Вс
                                td 2500/3000/4500
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr.table_program
                                td
                                    | + путешествие на квадроциклах по джунглям
                                td
                                    | Вт, Чт, Вс
                                td 2500/3000/4500
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr.table_more
                                td(colspan="5")
                                    a(href="#")
                                        | Смотреть все экскурсий
                                        i.icon-arrow-down
                        img(src="https://unsplash.it/g/900/300?random", alt="")
                        table.table.table--pricelist
                            tr
                                th
                                    a(href="./transfer.html")
                                        | Трансфер
                                th
                                    | Дни
                                th
                                    | в 1 сторону/ в 2 стороны
                                th
                                    | Забронировать
                                th
                                    | Список желаний
                            tr
                                td
                                    a(href="#")
                                        | Альпака Парк и Земля Королей
                                td
                                    | Пт
                                td 2500/3000
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="6")
                                    a(href="#")
                                        | Аюттайя
                            tr.table_program
                                td
                                    | Древняя столица Сиама
                                td
                                    | Пн, Вт, Ср, Чт, Сб
                                td 2500/3000
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Аюттайя + Река Квай + Эраван
                            tr.table_program
                                td
                                    | Насыщенная 2-х дневная экскурсия
                                td
                                    | Пн, Чт
                                td 2500/3000
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Затерянный Мир
                            tr.table_program
                                td
                                    | Национальные парки, пещеры, водопад
                                td
                                    | Пн, Ср, Пт
                                td 2500/3000
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr
                                td(colspan="5")
                                    a(href="#")
                                        | Изумительный Таиланд
                            tr.table_program
                                td
                                    | Национальный парк Кхао Яй, рафтинг и водопады
                                td
                                    | Вт, Чт, Вс
                                td 2500/3000
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr.table_program
                                td
                                    | + путешествие на квадроциклах по джунглям
                                td
                                    | Вт, Чт, Вс
                                td 2500/3000
                                td
                                    a.table_add(href="#")
                                        i.fa.fa-plus
                                td
                                    a.table_wish(href="#")
                                        i.material-icons
                                            | favorite_border
                            tr.table_more
                                td(colspan="5")
                                    a(href="#")
                                        | Смотреть все экскурсий
                                        i.icon-arrow-down
            include includes/_footer