-
    var page = 'section';
    var type = 'tours';
    var name = 'Экскурсии';
    var logged = true;
include includes/_item

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap--lmenu
            include includes/_header
            include includes/_lmenu
            include includes/_banner
            section.row.column.section
                include includes/_path
                .card.card--thin.card--description
                    p.header
                        =name
                        |  в Паттайе
                    p.header.primary
                        | 123 Экскурсии
                    .card_content
                        | Выбирайте и заказывайте экскурсии в Паттайе на сайте или по телефону +66 60002 4036. Мы не берем предоплату на большинство экскурсионных программ! Оплатить можно гиду в день проведения.
                .card.card--thin.card--categories
                    p.header.primary
                        | Категории Экскурсии
                    .card_content
                        ul.menu
                            li
                                a(href="#") Познавательные
                            li 
                                a(href="#") Зоопарки, сады, развлечения
                            li 
                                a(href="#") Вечернее шоу
                            li 
                                a(href="#") Острова, пляжи, дайвинг
                            li 
                                a(href="#") VIP Экскурсии
                            li 
                                a(href="#") Рыбалка
                            li 
                                a(href="#") Экстрим
                include includes/_filter
            section.items
                include includes/_pager
                .row.items_content
                    +item('Тропический парк Нонг Нуч', 'Таиланд', 'Паттайя', 'Тропический сад мадам Нонг Нуч - это оранжереи орхидей, кактусов, и мини зоопарк.', false, true, true)
                    +item('Река Квай и водопад Эраван', 'Таиланд', 'Паттайя', 'Красивейший национальный парк с 7-ми уровневым водопадом.', false, true, true)
                    +item('Мадагаскар', 'Таиланд', 'Паттайя', 'Морская прогулка, проходящая по программе all inclusive.', true, true, true)
                    +item('Экскурсия в Аюттаю', 'Таиланд', 'Паттайя', 'Историческая экскурсия в древнюю столицу Сиамского Королевства.', false, true, true)
                    +item('Сиам Парк - Siam Park City', 'Таиланд', 'Паттайя', 'Сиам парк в Бангкоке. Самый большой парк аттракционов в Азии.', true, true)
                    +item('Саттахип', 'Таиланд', 'Паттайя', 'Экономная экскурсия для всей семьи. Заказывайте прямо сейчас!', false, true)
                include includes/_pager
            include includes/_benefits
            include includes/_footer