-
    var page = 'visa';
    var type = 'visa';
    var name = 'Визовые услуги';
    var logged = true;

doctype html
html(lang="ru")
    include includes/_head
    body
        main.wrap.wrap--lmenu
            include includes/_header
            include includes/_lmenu
            include includes/_banner
            section.row.column.section
                include includes/_path
            section.row.column
                .card.card--expanded
                    .card_top
                        .header.big.primary
                            | Туристическая виза
                        .header.secondary
                            | Однократная (на 3 месяца)
                    .card_content
                        .header.primary.small
                            | Как это происходит?
                        span.primary
                            | Во-первых
                        | , мы довезем вас из отеля в Паттайе в соседний Лаос на комфортабельном транспорте. Вы даже не заметите, как быстро пролетит время.
                        br
                        span.primary
                            | Во-вторых
                        | , на территории Лаоса вы будете проживать в отдельном номере хорошего, благоустроенного отеля.
                        br
                        span.primary
                            | В-третьих
                        | , вас ожидает четырехразовое питание.
                        br
                        span.primary
                            | В-четвертых
                        | , заполнение и подача всех документов для туристической визы в Таиланд будет происходить в посольстве с помощью опытных специалистов, которые сделают все правильно, оперативно, без малейших ошибок.
                        br
                        span.primary
                            | В-пятых
                        | , в цену поездки уже входит стоимость всех посольских сборов для визы в Таиланд и сборов на границе.
                        br
                        span.primary
                            | И , наконец
                        | , у вас останется масса свободного времени, чтобы взглянуть на красоты Лаоса!
                        br
                        br
                        | Проще говоря, вам не придется тратить время и портить нервы, простаивая в очередях, самостоятельно подбирая транспорт, чтобы добраться до лаоса и искать место для ночлега. Мы уже организовали все это для вас. А вам останется лишь найти интересное занятие и ожидать готовых документов с долгожданной визой!
                        br
                        br
                        br
                        .header.primary.small
                            | Цены на получение туристических виз.
                        ul.list.list--numbered
                            li
                                | Однократная туристическая виза на 3 месяца для россиян, цена 5000 бат.
                                br
                                | Включает 2 месяца + 1 месяц продления в Immigration Office, где вам необходимо будет оплатить 1900 бат.
                                br
                                br

                            li
                                | Однократная туристическая виза на 3 месяца для граждан др. стран, цена 6000 бат.
                                br
                                br
                                | Для вышеперечисленных виз (№1 и №2) необходимо взять с собой в Лаос: 3 фотографии (цветные фото формата 3.5×4.5 cm) + копия паспорта + паспорт.
                                br
                                | Также нам необходимо от вас в форме заказа прикрепленные фото вашего паспорта (страница с фотографией и с действующей визой или штампиком).
                                br
                                | Если у вас в паспорте стоит действующая виза NON O, NON B, NON ED, а вы хотите получить туристическую визу - необходимо иметь письмо супруга, супруги или других родственников (NON O), от работодателя (NON B), или из школы (NON ED) для отмены.
                                br
                                br

                            li
                                | Визы типов NON B, O, ED, цена 6000 бат для россиян и7000 бат - граждан других стран.
                                br
                                | Виза "NON Immigrant B visa" - этот тип визы выдается заявителям, которые собираются работать в Королевстве Таиланд.
                                br
                                | Виза "NON Immigrant O visa" - этот тип визы выдается заявителям, которые желают сопровождать супруга или членов семьи, работающим, учащимся или живущим в Таиланде.
                                br
                                | Виза "NON Immigrant ED visa" - этот тип визы выдается заявителям, которые желают учиться, посещать семинары, тренинги или проходить стажировку в Таиланде.
                                br
                                br
                                | Необходимо с собой взять: 3 фотографии (цветные фото формата 3.5×4.5 cm) + копия паспорта + паспорт + пакет документов, необходимый для получения визы.
                                br
                                | Также нам необходимо от вас в форме заказа прикрепленные фото вашего паспорта (страница с фотографией и с действующей визой или штампиком), а также желательно пакет документов, чтобы мы убедились, что все заполнено правильно и у вас есть все необходимые бумаги.
                                br
                                | Пакет документов в данном случае, вам необходимо собирать самостоятельно. Например для учебной визы NON ED их вам предоставляет школа, в которой вы учитесь. Для получения визы NON B пакет документов подготавливает работодатель и его юрист.
                        br
                        br
                        .header.primary.small
                            | Дни поездки
                        | Каждую среду и воскресенье (кроме дней, когда работа тайского консульства в Лаосе выпадает на праздничные дни)
                        br
                        | Время отправления из Паттай: с 17:00 до 19:00
                        br
                        br
                        .header.primary.small
                            | Виза-ран из Паттайи
                        | Актуален для продления мультивизы
                        br
                        br
                        .header.primary.small
                            | В Камбоджу (ежедневно)
                        | Время отправления из Паттайи около 6:00 - 6:30, возвращение назад в Паттайю 15:30 - 16:00. В стоимость включен обед.
                        br
                        | Цена виза ран (бордер ран) в Камбоджу 2500 бат, на 1 человека.
                        br
                        br
                        .header.primary.small
                            | В Лаос (среда, воскресенье)
                        | Время отправления из Паттайи около 17:00 - 17:30, возвращение назад в Паттайю через день в 22:00 - 23:00. В стоимость включен трансфер, все платежи на границе, ночь в отеле, 2 завтрака, обед и ужин.
                        br
                        | Цена виза ран (бордер ран) в Лаос 4500 бат (для русских), на 1 человека.
                        br
                        | Цена виза ран (бордер ран) в Лаос 5500 бат (для др. национальностей), на 1 человека.
                        br
                        br
                        br
                        span.primary
                            | Внимание: 
                        | Если у вас не открыта действующая виза, то нет гарантий, в получении 30 дней для безвизового нахождения в Таиланде. Решение о предоставлении 30 дней безвизового въезда принимает сотрудник пограничной службы Таиланда. Мы рекомендуем пользоваться услугами виза-ран на текущий момент только для продление действующей мультивизы.
            include includes/_footer