.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 445px;
    background-image: url(../assets/img/promo/main.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    z-index: 1;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(21, 29, 33, 0.3);
        z-index: -1;
    }
    &_header{
        margin: 0;
        color: $white;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 140px;
        text-transform: uppercase;
    }
    &_selplace{
        form{
            display: flex;
            max-width: 690px;
            margin: auto;
        }
        input{
            margin: 0;
            &[type="text"]{
                background-color: transparent;
                color: $white;
                box-shadow: inset 0 0 0 1px $white;
                padding: 0 10px;
                height: 30px;
                margin-right: 30px;
                &::placeholder{
                    color: $white;
                }
            }
        }
        &--pricelist{
            form{
                max-width: 500px
            }
        }
    }

    &_container{
        flex: 0 0 auto;
        margin-bottom: 45px;
    }

    &_card{
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24),
        0 0 2px rgba(0, 0, 0, 0.12);
        border-radius: $global-radius;
        background-color: $white;
        display: flex;
        padding: 40px 50px 48px;
        &_img{
            flex: 0 1 130px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 40px;
        }
        &_content{
            text-align: left;
        }
        &_name{
            font-size: 16px;
            font-weight: 500;
        }
        &_contacts{
            display: flex;
        }
        &_col{
            display: flex;
            line-height: 1.71;
            color: rgba($black, 0.54);
            +.banner_card_col{
                margin-left: 70px;
            }
            &_label{
                margin-right: 5px;
            }
        }
    }

    &--section{
        &::before{
            background-color: rgba(21, 29, 33, 0.5);
        }
        .banner_header{
            font-size: 30px;
            text-transform: none;
            font-weight: 300;
            margin-bottom: 70px;
            &:only-child{
                margin: 0;
            }
            &--secondary{
                margin-top: -40px;
                font-size: 24px;
                margin-bottom: 40px;
            }
        }
    }

    $banners: tours, shopping, spa, page, faq, visa, transfer, pricelist, tour, reviews, articles;

    @each $banner in $banners {
        &--#{$banner} {
            background-image: url(../assets/img/promo/#{$banner}.jpg);
        }
    }
}