.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 445px;
    background-image: url(../assets/img/promo/main.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    z-index: 1;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(21, 29, 33, 0.3);
        z-index: -1;
    }
    &_header{
        margin: 0;
        color: $white;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 140px;
        text-transform: uppercase;
    }
    &_selplace{
        form{
            display: flex;
            max-width: 690px;
            margin: auto;
        }
        input{
            margin: 0;
            &[type="text"]{
                background-color: transparent;
                color: $white;
                box-shadow: inset 0 0 0 1px $white;
                padding: 0 10px;
                height: 30px;
                margin-right: 30px;
                &::placeholder{
                    color: $white;
                }
            }
        }
        &--pricelist{
            form{
                max-width: 500px
            }
        }
    }
    &--section{
        &::before{
            background-color: rgba(21, 29, 33, 0.5);
        }
        .banner_header{
            font-size: 30px;
            text-transform: none;
            font-weight: 300;
            margin-bottom: 70px;
            &:only-child{
                margin: 0;
            }
            &--secondary{
                margin-top: -40px;
                font-size: 24px;
                margin-bottom: 40px;
            }
        }
    }

    $banners: ('tours', 'shopping', 'spa', 'page', 'faq', 'visa', 'transfer', 'pricelist', 'tour', 'reviews');

    @each $banner in $banners {
        &--#{$banner} {
            background-image: url(../assets/img/promo/#{$banner}.jpg);
        }
    }
}