#countries.dropdown-pane.small.dropdown-pane--list.dropdown-pane--countries(data-dropdown data-v-offset="10" data-h-offset="0" data-alignment="right" data-close-on-click="true")
    ul.menu.vertical
        each country in countries
            li
                a(href="./country.html" data-toggle=`cities_${country[1]}` class=(country[1] == 'thailand') ? 'active' : false)
                    =country[0]
        
each country, i in Object.keys(cities)
    .dropdown-pane.right.small.dropdown-pane--list.dropdown-pane--cities(id=`cities_${country}` data-dropdown data-hover="true" data-hover-pane="true" data-position="right" data-alignment=(i < 2) ? 'top' : (i >= (Object.keys(cities).length - 2)) ? 'bottom' : 'center' data-v-offset=(i < 2 || i >= (Object.keys(cities).length - 2)) ? '-10' : false)
        ul.menu.vertical
            each city in cities[country] 
                li
                    a(href="./city.html" class=(city == 'Паттайя') ? 'active' : false)
                        =city

#currencies.dropdown-pane.small.dropdown-pane--list(data-dropdown data-v-offset="10" data-h-offset="-30" data-alignment="right" data-close-on-click="true")
    ul.menu.vertical
        li
            a(href="#")
                | EUR - Евро
        li
            a(href="#")
                | USD - Доллар
        li
            a(href="#")
                | RUB - Рубль
        li
            a.active(href="#")
                | THB - Тайский бат

#support.dropdown-pane.dropdown-pane--support(data-dropdown data-v-offset="10" data-h-offset="-70" data-position="bottom" data-alignment="right" data-hover="true" data-hover-pane="true" data-hover-delay="100")
    .dropdown-pane_header
        | Вопросы и ответы
    hr
    table
        tr
            td
                | Служба поддержкки
            td
                ul.menu.vertical
                    li
                        a(href="#") Написать сообщение
                    li
                        a(href="#") Звонок с сайта
                    li
                        a(href="#") Онлайн чат
        tr
            td
                | Обслуживание в Таиланде
            td
                a(href="tel:+66600035666")
                    | +666 000 35666
        tr
            td
                | Обслужвание в России
            td
                a(href="tel:+78001234567")
                    | 8 
                    span (
                    | 800
                    span )
                    |  123 4567
                a(href="tel:+74951234567")
                    | +7 
                    span (
                    | 495
                    span )
                    |  123 4567
if logged
    #logged.dropdown-pane.tiny.dropdown-pane--logged(data-dropdown data-v-offset="10" data-h-offset="-23" data-close-on-click="true" data-position="bottom" data-alignment="right")
        ul.menu.vertical
            li
                a(href="/profile/edit.html")
                    | Мой профиль
            li
                a(href="/profile/reservations.html")
                    | Мои брони
            li
                a(href="/profile/wishlist.html")
                    | Список желаний
            li
                a(href="/")
                    | Выйти
else
    #unlogged.dropdown-pane.dropdown-pane--unlogged(data-dropdown data-v-offset="10" data-h-offset="-44" data-close-on-click="true" data-position="bottom" data-alignment="right")
        .dropdown-pane_inner
            .dropdown-pane_avatar
                i.icon-user
            .dropdown-pane_content
                | Для удобства бронирования и внесения изменений войдите в личный кабинет
                button.button.small(data-open="login")
                    | Войти
