.path
    a(href="/") Главная
    |  > 
    case page
        when 'section'
        when 'pricelist'
            a(href="./country.html") Страна
            |  > 
            a(href="./city.html") Город
            |  >  
            if type == 'tour'
                a(href="./tours.html")
                    | Экскурсии
                |  > 
            =name
        when 'location'
            if country
                a(href="./country.html")
                    =country
                |  > 
            =name
        when 'reviews'
        when 'articles'
            if country
                a(href=`./${page}.html`)
                    =name
                |  > 
                if city
                    a(href="./country.html")
                        =country
                    |  > 
                    =city
                else
                    =country
            else
                =name
        default
            =name