mixin review(name, tour, date, text)
    .review
        .review_left
            .review_avatar
                img(src="https://placeimg.com/100/100/people?" + Math.random(), alt="")
        .review_content
            .review_name
                =name
            .review_info
                .review_info_location
                    | Таиланд, Паттайя
                .review_info_item
                    =tour
                .review_info_date
                    =date
            .review_text
                !=text