mixin review(name, tour, date, text)
    -
        var crop_options = ['north', 'east', 'south', 'west', 'center']
        var rnd = Math.floor(Math.random() * -4 + 4)
    .review
        .review_left
            .review_avatar
                img(src="https://unsplash.it/50?gravity=" + crop_options[rnd], alt="")
        .review_content
            .review_name
                =name
            .review_info
                .review_info_location
                    | Таиланд, Паттайя
                .review_info_item
                    =tour
                .review_info_date
                    =date
            .review_text
                !=text