footer.footer
    .row.footer_inner
        .column
            h6.footer_header Популярные страны
            ul.menu.vertical
                li
                    a(href="#") Тайланд
                li
                    a(href="#") США
                li
                    a(href="#") Кипр
                li
                    a(href="#") Турция
                li
                    a(href="#") Мальдивы
                li
                    a(href="#") Уругвай
                li
                    a(href="#") Черногория
                li
                    a(href="#") OAЭ
                li
                    a(href="#") Германия
                li
                    a(href="#") Смотреть все страны
        .column
            h6.footer_header Популярные города
            ul.menu.vertical
                li
                    a(href="#") Паттайя
                li
                    a(href="#") Сочи
                li
                    a(href="#") Дубаи
                li
                    a(href="#") Геленджик
                li
                    a(href="#") Пхукет
                li
                    a(href="#") Подгорица
                li
                    a(href="#") Варшава
                li
                    a(href="#") Лос- Анджелес
                li
                    a(href="#") Бангкок
                li
                    a(href="#") Смотреть все города
        .column.footer_paymeth
            h6.footer_header Способы оплаты
            img(src="", alt="PayPal")
            img(src="", alt="Яндекс Деньги")
            img(src="", alt="WebMoney")
            img(src="", alt="MasterCard")
            img(src="", alt="VISA")
        .column.footer_contacts
            h6.footer_header Контакты
            ul.menu.vertical
                li
                    | Звонки из Тайланда
                    a(href="tel:+66 848 73 7570") +66 848 73 7570
                li
                    | Бесплатно из России
                    a(href="tel:8 800 100 6618") 8 800 100 6618
                li
                    | Из других стран
                    a(href="#") +7 495 677 6077
                li
                    a(href="#") Звонок с сайта
                li
                    a(href="#") Обратная связь
                li
                    a(href="#") Онлайн поддержка
                li
                    a(href="#") 
                    a(href="#") 
                    a(href="#") 
                    a(href="#") 
                    a(href="#") 
                    a(href="#") 
        .column.footer_about
            ul.menu.vertical
                li
                    a(href="#") О нас
                li
                    a(href="#") Пользовательское соглашение
                li
                    a(href="#") Агентам
                li
                    a(href="#") Нужна помощь?
    .row.footer_bottom
        | © Zalooka, 2016. Все права на публикуемые материалы защищены.
        .footer_lang
            | RU | 
            a(href="#") EN
