header.head
    .row.column.header_inner
        .head_left
            .head_logo
                a(href="/")
                    img(src="/img/logo.svg", alt="Zalooka")
            .head_place
                | Место: 
                a(href="#") Паттайя, Тайланд
            .head_currency
                | Валюта: 
                a(href="#") Тайский бат
        .head_right
            .head_support
                .head_search
                a.head_support_button(href="#") 
                    img(src="", alt="")
                p 24/7 Обслуживание клиентов в Таиланде +666 000 35666
            .head_account.is_new
                img(src="", alt="Аватар")

nav.nav
    .row.nav_inner
        ul.menu
            li
                a(href="#") ПРАЙС-ЛИСТ
            li
                a(href="#") ЧАВО
            li
                a(href="#") ОТЗЫВЫ
            li
                a(href="#") СТАТЬИ
            li
                a(href="#") КОНТАКТЫ
section.banner
    p.banner_header НАЧНИ  ПУТЕШЕСТВИЕ С  ВЫБОРА  МЕСТА
    .banner_selplace
        form(action="")
            input(type="text" placeholer="Таиланд")
            input(type="text" placeholer="Паттайя")
            input(type="text" placeholer="Услуга")
            input.button(type="submit" value="Перейти")
