extends ../_layout
block const
    -
        const page = 'article';
        const type = 'articles';
        const name = 'Какая рыба водится в Паттайе?';
        const logged = true;

block content
    section.row.column.section
        .card.card--expanded
            .card_top
                .header.big.primary
                    =name
            .card_content
                .row.tour_info
                    .column.shrink.tour_location
                        | Паттайя, Таиланд
                    +rating(4, 'column shrink rating--tour')
                    .column.shrink.tour_comments
                        i.icon-bubbles
                        | 2
                p
                    | Еще задолго до того, как стать одним из крупнейших курортов Таиланда, яаттайя была самой обычной рыбацкой деревушкой. И хотя теперь от небольшого поселения не осталось и следа, прибрежные воды все также богаты рыбой, а рыбалка – это одно из самых популярных развлечений среди местных жителей и гостей города. На курорте идеальные условия для всевозможных видов рыбалок: дневной и ночной, морской и озерной, на реке и даже в специальных фишинг парках. Любой желающий сможет порыбачить самостоятельно или
                    | 
                    a(href="./tour.html") заказать экскурсию
                    | , ведь здесь хороший улов ждет как и опытных рыбаков, так и новичков.
                p Самые экзотические и редкие виды рыбы Таиланда можно поймать именно в Паттайе. В морских и пресных водах встречаются самые необычные рыбы Паттайи, поймать которые мечтает каждый рыбак. О том, какая рыба есть в Паттайе и где можно порыбачить, мы и расскажем в нашей статье.
                
                include ../components/_slider

                .header.tiny.primary
                    | Морские виды
                p Богатые морские воды Паттайи славятся на весь мир своими экзотическими обитателями. Хотели бы поймать угря, морского окуня, карася, рыбу марлен, барракуду, летучую рыбу и много других видов? Здесь даже можно встретить не очень крупных акул. Если у вас есть желание порыбачить в море, можете заказать тур или арендовать лодку на любом рыбацком пирсе.
                p Во время ночной рыбалки можно поймать и более редкие виды рыбы и даже кальмаров. Такие рыбалки обычно длятся с 7 вечера до полуночи и лучше заказывать экскурсию, чтобы воспользоваться услугами опытного наставника и специальным оборудованием.

                .header.tiny.primary
                    | Озерные виды

                p В пресных водах можно также словить вкусную и очень крупную рыбу (порой даже массой как у взрослого человека). Каждый рыбак надолго запомнит улов со змееголовами, тигровыми и меконгскими сомами, пираньями паку или рыбками Баррамунди. Особой популярностью среди рыбаков пользуется озеро Монстров, которое находится в пригороде курорта. Неизвестные и пугающие названия рыб в Паттайе становятся реальностью, поэтому озеро и получило такое прозвище. Здесь встречаются экзотические виды из разных частей света. Где, как не в этом чудесном месте, можно хорошо отдохнуть и поймать амазонскую арапайму, аровану, пятнистого сома из Африки, тамбакуйю, рыб-аллигаторов из Австралии, а также сомов Чаопрайи и пираньи Паку.
                p Каждый желающий может сам отправиться на озерную рыбалку, арендовать оборудование на месте или заказать трансфер от отеля.

                .header.tiny.primary
                    | Фишинг-парки

                p Фишинг парки – это специально оборудованные пруды для рыбалки в пределах города. Здесь можно отлично провести время всей семьей и усовершенствовать свои навыки рыболовства. В Паттайе есть несколько таких парков практически в каждом районе города. Главное условие рыбалке в фишинг-парке: пойманную рыбу нельзя забрать с собой, а нужно сразу отпускать в воду.

                p Так что, если вы заядлый рыбак и мечтаете поймать много вкусной и необычной рыбы, то Паттайя обязательно удивит своим богатством. Хорошего улова!
                br
                b.primary
                    | Оцените данную статью:
                +rating(2.8, 'rating--inline')
                
            include ../components/_reviews
                
    section.row.items.items--related
        .column.small-12.header.giant.text-center
            | Другие статьи
        +item('Куда можно поехать на отдых из Паттайи?', '', '', 'В какие города и на острова можно отправиться из Паттайи. Главные достопримечательности и как добраться.', false, true, false, false, false, true)
        +item('Медузы в Паттайе', '', '', 'Есть ли медузы в Паттайе, и в какой период их больше всего. Что делать, если вас ужалила медуза.', false, true, false, false, false, true)
        +item('Заведения с русской кухней в Паттайе', '', '', 'В каких заведениях Паттайи можно отведать блюда русской кухни. Цены на меню, режим работы и как добраться.', false, true, false, false, false, true)