extends ../_layout
block const
    -
        const page = 'articles';
        const type = 'articles';
        const name = 'Статьи';
        const logged = true;

block content
    section.row.container
        +item('th', 'Какая рыба водится в Паттайе?', '', '', 'Какая рыба водится в Паттайе и какие виды рыбалок доступны для туристов.', false, true, false, false, false, true)
        +item('th', 'Как подготовиться к перелету. Правила провоза багажа', '', '', 'Советы и основные правила поведения для беспроблемного вылета.', false, true, false, false, false, true)
        +item('th', 'Как добраться из аэропорта в Бангкоке в Паттайю?', '', '', 'Все способы как добраться из аэропорта Суварнабхуми в Паттайю.', false, true, false, false, false, true)
        +item('th', 'Куда можно поехать на отдых из Паттайи?', '', '', 'В какие города и на острова можно отправиться из Паттайи. Главные достопримечательности и как добраться.', false, true, false, false, false, true)
        +item('th', 'Медузы в Паттайе', '', '', 'Есть ли медузы в Паттайе, и в какой период их больше всего. Что делать, если вас ужалила медуза.', false, true, false, false, false, true)
        +item('th', 'Заведения с русской кухней в Паттайе', '', '', 'В каких заведениях Паттайи можно отведать блюда русской кухни. Цены на меню, режим работы и как добраться.', false, true, false, false, false, true)
        include ../components/_pager