extends ../_layout
block const
    -
        const page = 'page';
        const type = 'page';
        const name = 'Популярные города';
        const logged = true;

block content
    section.row.items
        +item('th', '', 'Таиланд', 'Паттайя', '', 0, 0, 0, 1)
        +item('ru', '', 'Россия', 'Сочи', '', 0, 0, 0, 1)
        +item('ae', '', 'ОАЭ', 'Дубаи', '', 0, 0, 0, 1)
        +item('ru', '', 'Россия', 'Геленджик', '', 0, 0, 0, 1)
        +item('hu', '', 'Черногория', 'Подгорица', '', 0, 0, 0, 1)
        +item('pl', '', 'Польша', 'Варшава', '', 0, 0, 0, 1)