extends ../_layout
block const
    -
        const page = 'contacts';
        const type = 'page';
        const name = 'Контакты';
        const logged = true;
block content
    mixin card(title, content)
        .large-4.column
            .card.card--thin.card--faq.card--contact
                .header.primary
                    =title
                .card_content
                    !=content
    section.row
        +card('Для звонков из Тайланда и других стран', '<a href="tel:+66600024036">+66 60002 4036</a><br><a href="tel:+66600024036">06 0002 4036</a>')
        +card('Для звонков из России и других стран', '<a href="tel:+74996776077">+7 499 677 6077</a><a class="card_more" href="#">Смотреть все телефоны <i class="icon-arrow-down"></i></a>')
        +card('Для бесплатных звонков из России', '<a href="+78001006618">8 800 100 6618</a>')
    section.row.align-justify.contact_us
        .large-6.column
            | Звоните в службу поддержки клиентов с 4:00 до 24:00, 7 дней в неделю.
        .large-6.column
            | Так же Вы можете 
            a(href="#")
                | Позвонить с сайта
            |  или 
            a(href="#")
                | отправить e-mail
    section.row.column
        .card.card--expanded.card--form
            .card_content
                .row.align-justify
                    .large-6.column
                        .header.small
                            | Напишите нам
                        form(action="")
                            .select
                                select
                                    option(disabled selected) Тема сообщения
                                    option Тема 1
                                    option Тема 2
                                    option Тема 3
                            input(type="text" placeholder="Имя *")
                            input(type="email" placeholder="E-mail *")
                            input(type="tel" placeholder="Номер телефона")
                            textarea(placeholder="Текст сообщения *" cols="2")
                            input.button(type="submit" value="Отправить")
                    .large-6.column
                        .header.small
                            | Контактные телефоны в других странах
                        table
                            tr
                                td.primary
                                    | Тайланд
                                td
                                    a(href="tel:+66600024036") +66 60002 4036
                                    br
                                    a(href="tel:+66600024036") 06 0002 4036
                            tr
                                td.primary
                                    | США
                                td
                                    a(href="tel:+151555511005") +1 515 55511005
                            tr
                                td.primary
                                    | Турция
                                td
                                    a(href="tel:+9051555511005") +90 515 55511005
                            tr
                                td.primary
                                    | Мальдивы
                                td
                                    a(href="tel:+96051555511005") +960 515 55511005