extends ../_layout
block const
    -
        const page = 'page';
        const type = 'page';
        const name = 'Популярные страны';
        const logged = true;

block content
    section.row.items
        +item('', 'Таиланд', '', '', 0, 0, 0, 1)
        +item('', 'Турция', '', '', 0, 0, 0, 1)
        +item('', 'Кипр', '', '', 0, 0, 0, 1)
        +item('', 'Мальдивы', '', '', 0, 0, 0, 1)
        +item('', 'Черногория', '', '', 0, 0, 0, 1)
        +item('', 'Польша', '', '', 0, 0, 0, 1)
        