extends ../_layout
block const
    -
        const page = 'page';
        const type = 'page';
        const name = 'Популярные страны';
        const logged = true;

block content
    section.row.items
        +item('th', '', 'Таиланд', '', '', 0, 0, 0, 1)
        +item('tr', '', 'Турция', '', '', 0, 0, 0, 1)
        +item('cy', '', 'Кипр', '', '', 0, 0, 0, 1)
        +item('mv', '', 'Мальдивы', '', '', 0, 0, 0, 1)
        +item('hu', '', 'Черногория', '', '', 0, 0, 0, 1)
        +item('pl', '', 'Польша', '', '', 0, 0, 0, 1)
        