extends ../_layout
block const
    -
        const page = 'section';
        const type = 'shopping';
        const name = 'Шоппинг';
        const logged = true;

block content
    section.row.column.section
        .card.card--thin.card--description
            p.header
                =name
                |  в Паттайе
            p.header.primary
                | 123 места для шоппинга
            .card_content
                | Удивительная Паттайя, сколько здесь всего инетерсного? Наша компания предлагает вам бесплатные шоп-туры в городе Паттайя.
                br
                | Разнообразные сувениры, кожаные изделия, ювелирные фабрики, натуральная тайская косметика и многое другое. Более подробно ознакомится с шоп-турами Паттайи, а также заказать бесплатный транспорт можно в этом разделе.
        include ../components/_filter
    section.items
        include ../components/_pager
        .row.items_content
            +item('th', 'Центр косметологии VitaMax', 'Таиланд', 'Паттайя', 'Все препараты изготовлены на натуральной основе.', false, false, true)
            +item('th', 'Ювелирная фабрика Gems Gallery', 'Таиланд', 'Паттайя', 'Добро пожаловать - на фабрику "Джемс Галлери".', false, false, true)
            +item('th', 'Duty Free King Power Pattaya', 'Таиланд', 'Паттайя', 'Единственный в Паттайе центр беспошлинной торговли Duty Free.', false, false, true)
            +item('th', 'Салон кожи и меха Toscano', 'Таиланд', 'Паттайя', 'Изысканные модели от итальянских дизайнеров и профессиональное шоу-дефиле.', false, false, true)
            +item('th', 'Мир кожи', 'Таиланд', 'Паттайя', 'Модные изделия из кожи азиатского буйвола, крокодила, питона, змеи, акулы.', false, false)
            +item('th', 'Аптека Erawadee в Паттайе', 'Таиланд', 'Паттайя', 'Натуральная косметика, чаи, бальзамы, тайская народная медицина, аромотерапия.', false, false, true)
        include ../components/_pager
    section.row.column.section
        .card.card--thin.card--description
            p.header
                =name
                |  в Паттайе
            p.header.primary
                | 123 места для шоппинга
            .card_content
                | Удивительная Паттайя, сколько здесь всего инетерсного? Наша компания предлагает вам бесплатные шоп-туры в городе Паттайя.
                br
                | Разнообразные сувениры, кожаные изделия, ювелирные фабрики, натуральная тайская косметика и многое другое. Более подробно ознакомится с шоп-турами Паттайи, а также заказать бесплатный транспорт можно в этом разделе.
    include ../sections/_benefits