.banner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 445px;
    background-image: url(../img/banner_main.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    z-index: 1;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(21, 29, 33, 0.3);
        z-index: -1;
    }
    &_header{
        margin: 0;
        color: $white;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 140px;
        text-transform: uppercase;
    }
    &_selplace{
        form{
            display: flex;
            max-width: 690px;
            margin: auto;
        }
        input{
            margin: 0;
            &[type="text"]{
                background-color: transparent;
                color: $white;
                box-shadow: inset 0 0 0 1px $white;
                padding: 0 10px;
                height: 30px;
                margin-right: 30px;
                &::placeholder{
                    color: $white;
                }
            }
        }
    }
    &--section{
        background-image: url(../img/banner_section.jpg);
        .banner_header{
            font-size: 30px;
            text-transform: none;
            font-weight: 300;
            margin-bottom: 70px;
        }
    }
}