.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 30px);
    background-color: $white;
    border-radius: $global-radius;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    &--about{
        overflow: hidden;
        margin-top: 50px;
        padding: 0 75px;
        padding-bottom: 40px;    
    }
    &--small{
        .card{
            &_top{
                padding: 16px 14px;
                padding-left: 12px;
                align-items: flex-start;
            }
            &_flag{
                flex: 0 0 40px;
                margin-right: 12px;
                width: 40px;
                height: 40px;
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                &--globe{
                    background-color: #d0011b;
                }
                &--prepay{
                    background-color: #f6a623;
                }
                &--earphones-alt{
                    background-color: #f8e81c;
                }
                &--shuffle{
                    background-color: #7ed321;
                }
                &--arrow-down-circle{
                    background-color: #4990e2;
                }
            }
        }
    }
    &_top{
        display: flex;
        align-items: center;
        padding: 20px 26px;
    }
    &_flag{
        flex: 0 0 20px;
        margin-right: 26px;
        border-radius: 50%;
        overflow: hidden;
        img{
            display: block;
        }
    }
    &_header{
        font-size: 16px;
        color: $black;
        margin: 0;
        line-height: 1.5;
    }
    &_name{
        font-weight: 500;
        &_link{
            color: $black;
        }
        &_location{
            color: $dark-gray;
        }
        &_link{
            display: block;
        }
    }
    &_image{
        position: relative;
        &--prepay{
            &::before{
                content: 'Без предоплаты';
                position: absolute;
                right: 0;
                top: 20px;
                padding: 4px 12px;
                background-color: $primary-color;
                font-size: 12px;
                color: $white;
            }
        }
        img{
            width: 100%;
        }
    }
    &_brief{
        padding: 11px 16px;
        padding-bottom: 0;
        color: $black;
    }
    &_content{
        color: $dark-gray;
    }
    &_bottom{
        padding: 18px 16px;
        &--wo{
            .card_bottom_more{
                color: $dark-gray;
                &:hover{
                    color: $primary-color;
                }
            }
            .card_bottom_price{
                font-size: 12px;
                color: $primary-color;
                font-weight: 500;
            }
        }
        &_add{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 9px;
        }
        &_price{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 300;
            color: #4a4a4a;
            b{
                color: $primary-color;
                font-weight: 300;
            }
            span{
                color: $secondary-color;
            }
        }
        &_more{
            display: block;
            font-weight: 500;
        }
    }
    &_add{
        display: block;
        font-size: 23px;
        color: $primary-color;
        transition: 300ms;
        &:hover{
            color: $button-background-hover;
        }
    }
}