.footer{
    background-color: #eeeeee;
    border-top: 2px solid #d4d4d4;
    margin-top: 60px;
    padding-bottom: 10px;
    &_inner{
        margin-top: 55px;
        margin-bottom: 48px;
    }
    &_header{
        font-size: 14px;
        text-transform: uppercase;
        color: #4a4a4a;
        margin-bottom: 14px;
        a{
            color: #4a4a4a;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .menu li{
        &:last-child{
            a{
                color: #4a4a4a;
                font-size: 13px;
            }
        }
        a{
            padding: 6px 0;
            color: #9b9b9b;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    &_bottom{
        position: relative;
        text-align: center;
        justify-content: center;
        color: #4a4a4a;
        font-weight: 300;
    }
    &_lang{
        position: absolute;
        right: 0;
        top: 0;
        font-weight: 400;
        color: $black;
    }
    &_paymeth{
        img{
            height: 22px;
            display: block;
            margin-top: 22px;
        }
    }
    &_contacts{
        color: #9b9b9b;
        .menu li{
            &:nth-child(-n+3){
                margin: 2px 0;
            }
            &:last-child{
                display: flex;
                a{
                    color: #9b9b9b;
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
            a{
                color: #4a4a4a;
                &:only-child{
                    color: #9b9b9b;
                }
            }
        }
    }
    &_about{
        padding-top: 33px;
        .menu li:last-child a{
            color: #9b9b9b;
            font-size: 14px;
        }
    }
}