.head{
    height: 60px;
    background: $white;
    a{
        text-decoration: none;
    }
    &_inner{
        height: 100%;
    }
    &_left{
        display: flex;
        align-items: center;
    }
    &_right{
        @extend .head_left;
        justify-content: flex-end;
    }
    &_place{
        font-size: 12px;
        line-height: 14px;
        color: $medium-gray;
        margin-left: 54px;
    }
    &_currency{
        @extend .head_place;
    }
    &_link{
        display: inline-block;
        cursor: pointer;
        color: $medium-gray;
        border-bottom: 1px dashed;
    }
    &_support{
        display: flex;
        align-items: center;
        max-width: 275px;
        margin-right: 20px;
        &_search{
            width: 20px;
            height: 20px;
            margin-right: 15px;
            color: $primary-color;
            i{
                font-size: 20px;
            }
        }
        &_button{
            display: block;
            text-align: center;
            min-width: 30px;
            width: 30px;
            height: 30px;
            border: 1px solid #f7f7f7;
            border-radius: 50%;
            margin-right: 17px;
            color: $primary-color;
            font-size: 18px;
        }
        p{
            text-align: right;
            font-weight: 300;
            margin: 0;
        }
    }
    &_account{
        width: 40px;
        height: 40px;
        &_inner{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f2f2f2;
            overflow: hidden;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            color: #cacaca;
            font-size: 20px;
        }
        img{
            width: 100%;
            height: 100%;
        }
        &.is_new{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                right: 2px;
                top: 0;
                width: 10px;
                height: 10px;
                background-color: #c62828;
                border: 1px solid #fff;
                border-radius: 50%;
            }
        }
    }
}
