:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active
{
    -webkit-box-shadow: inset 0 -2px 0 $primary-color, 0 0 0px 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
}

html, body{
    width: 100%;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
    padding: 0;
    font-weight: 300;
}

button, [type="button"], [type="reset"], [type="submit"]{
    outline: none;
    cursor: pointer;
    font-weight: 300;
}

[type="checkbox"]{
    display: none;
    + label{
        margin: 0;
        display: flex;
        &::before{
            content: '';
            width: 18px;
            height: 18px;
            background-color: #448aff;
            border-radius: $global-radius;
            font-family: 'Material Icons';
            margin-right: 15px;
            color: $white;
            font-size: 24px;
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 2px;
        }
    }
    &:checked{
        + label{
            &::before{
                content: 'check'
            }
        }
    }
}

a{
    transition: 300ms;
}

.header{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}