.lmenu{
    position: absolute;
    top: 100px;
    left: 0;
    height: 100%;
    z-index: 20;
    display: flex;
    &.fixed{
        position: fixed;
        top: 0;
        @media screen and (max-height: 510px) {
            position: absolute;
            top: 100px;
            height: 200vh;
        }
    }
    &_icon{
        svg{
            use{
                fill: $medium-gray;
                transition: 300ms;
            }
        }
        i{
            font-size: 20px;
            color: $medium-gray;
            transition: 300ms;
        }
    }
    &_label{
        text-align: center;
        font-size: 11px;
        color: $medium-gray;
        line-height: 1.45;
        margin-top: 15px;
        transition: 300ms;
    }
    &_lvl{
        &_one{
            z-index: 2;
            width: 80px;
            background-color: #151d20;
            padding-top: 15px;
            box-shadow: 0 100vh 0 #151d20;
            a{
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover, &.hover, &.active{    
                    .lmenu{
                        &_icon{
                            svg{
                                use{
                                    fill: $primary-color;
                                }
                            }
                            i{
                                color: $primary-color;
                            }
                        }
                        &_label{
                            color: $primary-color;
                        }
                    }
                }
            }
        }
        &_two{
            position: relative;
            background-color: rgba(38, 50, 56, 0.95);
            overflow: hidden;
            display: flex;
            align-items: flex-start;
            width: 0;
            transition: 400ms;
            box-shadow: 0 calc(100vh - 18px) 0 rgba(38, 50, 56, 0.95);
            &.opened{
                width: 200px;
            }
            .menu{
                position: absolute;
                top: 18px;
                left: 0;
                opacity: 0;
                z-index: 1;
                min-height: 492px;
                transition: 400ms;
                &.opened{
                    opacity: 1;
                    z-index: 2;
                }
            }
            li{
                min-width: 200px;
            }
            a{
                display: flex;
                align-items: center;
                padding: 7.5px 30px;
                font-weight: 300;
                color: $white;
                line-height: normal;
                transition: 300ms;  
                &:hover, &.hover{
                    background-color: #283d45;
                    color: $primary-color;
                    &::after{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
                &::after{
                    display: block;
                    content: "\e606";
                    font-size: 7px;
                    font-family: 'simple-line-icons';
                    color: $primary-color;
                    line-height: 1;
                    transition: 300ms;
                    opacity: 0;
                    transform: translateX(-10px);
                    margin-left: 20px;
                }
            }
        }
        &_three{
            position: relative;
            width: 0;
            overflow: hidden;
            background-color: rgba(38, 50, 56, 0.9);
            box-shadow: 0 calc(100vh - 18px) 0 rgba(38, 50, 56, 0.9);
            transition: 400ms;
            &.opened{
                width: calc(100vw - 285px);
            }
            .close-button{
                z-index: 3;
                font-size: 34px;
                color: $white;
            }
        }
    }
    &_content{
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100vw - 280px);
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        z-index: 1;
        padding: 50px 60px;
        transition: 400ms;
        &.opened{
            opacity: 1;
            z-index: 2;
        }
        .menu{
            width: 50%;
            flex: 0 0 50%;
            margin-bottom: 50px;
        }
        li{
            span{
                display: block;
                font-weight: 500;
                font-size: 16px;
                color: #fff;
                margin-bottom: 5px;
            }
        }
        a{
            display: table;
            color: $white;
            padding: 8px 0;
            &:hover{
                color: $primary-color;
            }
        }
    }
    &_more{
        width: 100%;
        flex: 0 0 100%;
        border-top: 1px solid #4b7a90;
        padding-top: 29px;
        a{
            color: $primary-color;
        }
        i{
            font-size: 12px;
            margin-left: 15px;
            vertical-align: middle;
            color: $primary-color;
        }
    }
}