.table{
    border-spacing: 0;
    color: $black;
    margin: 0 -20px;
    margin-bottom: 75px;
    line-height: 1.3;
    tr{
        &:last-child{
            td{
                border: 0;
            }
        }
    }
    th{
        font-weight: 300;
        padding: 10px 20px;
        text-align: right;
        &:first-child{
            text-align: left;
        }
        &:nth-last-child(-n+2){
            padding-left: 0;
        }
    }
    td{
        padding: 14px 20px;
        border-bottom: 1px solid $light-gray;
        color: $medium-gray;
        &:first-child{
            color: $black;
        }
        &:nth-child(2){
            text-align: right;
        }
        &:nth-last-child(-n+2){
            width: 1%;
            text-align: right;
            white-space: nowrap;
        }
    }
    &--transfer{
        th{
            &:nth-last-child(-n+2){
                padding-right: 73px;
            }
        }
    }
    &--taxi{
        .table{
            &_actions{
                display: flex;
                margin: 0;
                justify-content: center;
            }
        }
        th{
            vertical-align: top;
        }
        td{
            &:nth-child(2){
                width: 14.2%;
            }
            &:nth-last-child(-n+3){
                text-align: center;
            }
        }
    }
    &_actions{
        display: inline-flex;
        align-items: center;
        margin-left: 20px;
        a{
            display: flex;
        }
    }
    &_wish{
        display: block;
        margin-left: 5px;
        i{
            font-size: 15px;
        }
    }
}