.tour{
    &_info{
        display: flex;
        margin-bottom: 30px;
    }
    &_location{
        color: $medium-gray;
    }
    &_comments{
        font-size: 16px;
        color: $medium-gray;
        i{
            font-size: 18px;
            margin-right: 6px;
            vertical-align: text-top;
        }
    }
    &_options{
        margin-bottom: 30px;
    }
    &_option{
        display: flex;
        align-items: center;
        i{
            font-size: 25px;
            color: $primary-color;
            margin-right: 16px;
        }
        &_content{
            line-height: normal;
            color: $medium-gray;
        }
    }
    &_program{
        max-width: 740px;
        margin: 50px auto;
        &_inner{
            display: flex;
            align-items: center;
        }
        &_price{
            border-radius: 3px;
            border: 1px solid $primary-color;
            font-size: 14px;
            padding: 16px 22px;
            color: $dark-gray;
            i{
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                margin-right: 16px;
            }
            td{
                &:last-child{
                    text-align: right;
                    padding-left: 5px;
                }
            }
            span{
                font-size: 17px;
                color: $primary-color;
            }
        }
        &_content{
            font-size: 16px;
        }
        &_note{
            margin-top: 12px;
            font-size: 12px;
            color: $dark-gray;
        }
    }
}