section(class=(page == 'section') ? "banner banner--section banner--" + type : "banner")
    p.banner_header
        if page == 'section'
            =section_name
            |  в Паттайе
        else
            | НАЧНИ ПУТЕШЕСТВИЕ С ВЫБОРА МЕСТА
    .banner_selplace
        form(action="")
            input(type="text" placeholder="Таиланд" value="Таиланд" name="country" readonly)
            input(type="text" placeholder="Паттайя" name="city")
            input(type="text" placeholder="Услуга" name="service")
            input.button(type="submit" value="Перейти")