section(class=(page != 'main') ? "banner banner--section banner--" + type : "banner")
    p.banner_header
        case page
            when 'main'
                | НАЧНИ ПУТЕШЕСТВИЕ С ВЫБОРА МЕСТА
            when 'section'
                if type == 'tour'
                    | Экскурсия 
                =name
                |  в Паттайе
            when 'pricelist'
                =name
                |  (Паттайя, Таиланд)
            default
                =name
    if page == 'reviews'
        .banner_header.banner_header--secondary
            | Читайте отзывы по интересующим вас направлениям и услугам
    if page != 'faq' && page != 'visa' && type != 'tour'
        .banner_selplace(class=page=='pricelist'?'banner_selplace--pricelist':'')
            form(action="")
                input(type="text" placeholder="Таиланд" value="Таиланд" name="country" readonly)
                input(type="text" placeholder="Паттайя" name="city")
                if page!='pricelist'
                    input(type="text" placeholder="Услуга" name="service")
                input.button(type="submit" value=page == 'reviews' ? 'Перейти к отзывам' : 'Перейти')