#currencies.dropdown-pane.tiny.dropdown-pane--currencies(data-dropdown data-v-offset="10" data-h-offset="-60" data-close-on-click="true")
    ul.menu.vertical
        li
            a(href="#")
                | Рубль
        li
            a(href="#")
                | Доллар
        li
            a(href="#")
                | Евро
        li
            a.active(href="#")
                | Тайский бат

#support.dropdown-pane.dropdown-pane--support(data-dropdown data-v-offset="10" data-h-offset="-70" data-position="bottom" data-alignment="right" data-hover="true" data-hover-pane="true" data-hover-delay="100")
    .dropdown-pane_header
        | Вопросы и ответы
    hr
    table
        tr
            td
                | Служба поддержкки
            td
                ul.menu.vertical
                    li
                        a(href="#") Написать сообщение
                    li
                        a(href="#") Звонок с сайта
                    li
                        a(href="#") Онлайн чат
        tr
            td
                | Обслуживание в Таиланде
            td
                a(href="tel:+66600035666")
                    | +666 000 35666
        tr
            td
                | Обслужвание в России
            td
                a(href="tel:+78001234567")
                    | 8 
                    span (
                    | 800
                    span )
                    |  123 4567
                a(href="tel:+74951234567")
                    | +7 
                    span (
                    | 495
                    span )
                    |  123 4567
if logged
    #logged.dropdown-pane.small.dropdown-pane--logged(data-dropdown data-v-offset="10" data-h-offset="-23" data-close-on-click="true" data-position="bottom" data-alignment="right")
        ul.menu.vertical
            li
                a(href="profile.html")
                    | Мой профиль
            li
                a(href="profile.html#reservations")
                    | Мои брони
            li
                a(href="wishlist.html")
                    | Список желаний
            li
                a(href="/")
                    | Выйти
else
    #unlogged.dropdown-pane.dropdown-pane--unlogged(data-dropdown data-v-offset="10" data-h-offset="-44" data-close-on-click="true" data-position="bottom" data-alignment="right")
        .dropdown-pane_inner
            .dropdown-pane_avatar
                i.icon-user
            .dropdown-pane_content
                | Для удобства бронирования и внесения изменений войдите в личный кабинет
                button.button.small(data-open="login")
                    | Войти
