.filter
    p.header.thin
        | Сортировка:
    .row.filter_content
        .column.large-4
            .filter_item
                | По цене:
                .select
                    select
                        option По убыванию
                        option По возрастанию
            .filter_item
                | По названию:
                .select
                    select
                        option Выбрать
                        option Выбрать
        .column.large-4
            .filter_item
                | По популярности:
                .select
                    select
                        option Самые популярные
                        option Самые популярные
            .filter_item
                | По рейтингу:
                .select
                    select
                        option Выбрать
                        option Выбрать
        .column.large-4
            .filter_item
                | По тематике:
                .select
                    select
                        option Познавательные
                        option Познавательные