footer.footer
    .row.footer_inner
        .column
            h6.footer_header
                a(href="./countries.html") Популярные страны
            ul.menu.vertical
                li
                    a(href="./country.html") Таиланд
                li
                    a(href="./country.html") США
                li
                    a(href="./country.html") Кипр
                li
                    a(href="./country.html") Турция
                li
                    a(href="./country.html") Мальдивы
                li
                    a(href="./country.html") Уругвай
                li
                    a(href="./country.html") Черногория
                li
                    a(href="./country.html") OAЭ
                li
                    a(href="./country.html") Германия
                li
                    a(href="./countries.html") Смотреть все страны
        .column
            h6.footer_header
                a(href="./cities.html") Популярные города
            ul.menu.vertical
                li
                    a(href="./city.html") Паттайя
                li
                    a(href="./city.html") Сочи
                li
                    a(href="./city.html") Дубаи
                li
                    a(href="./city.html") Геленджик
                li
                    a(href="./city.html") Пхукет
                li
                    a(href="./city.html") Подгорица
                li
                    a(href="./city.html") Варшава
                li
                    a(href="./city.html") Лос- Анджелес
                li
                    a(href="./city.html") Бангкок
                li
                    a(href="./cities.html") Смотреть все города
        .column.footer_paymeth
            h6.footer_header Способы оплаты
            img(src="./img/payments/paypal.svg", alt="PayPal")
            img(src="./img/payments/yandex.svg", alt="Яндекс Деньги")
            img(src="./img/payments/webmoney.svg", alt="WebMoney")
            img(src="./img/payments/mastercard.svg", alt="MasterCard")
            img(src="./img/payments/visa.svg", alt="VISA")
        .column.footer_contacts
            h6.footer_header
                a(href="#") Контакты
            ul.menu.vertical
                li
                    span Звонки из Таиланда
                    a(href="tel:+66848737570") +66 848 73 7570
                li
                    span Бесплатно из России
                    a(href="tel:+78001006618") 8 800 100 6618
                li
                    span Из других стран
                    a(href="tel:+74956776077") +7 495 677 6077
                li
                    a(href="#") Звонок с сайта
                li
                    a(href="#") Обратная связь
                li
                    a(href="#") Онлайн поддержка
                li.footer_social
                    a.footer_social--vk(href="#")
                        i.fa.fa-vk
                    a.footer_social--fb(href="#")
                        i.fa.fa-facebook
                    a.footer_social--ok(href="#")
                        i.fa.fa-odnoklassniki
                    a.footer_social--yt(href="#")
                        i.fa.fa-youtube
                    a.footer_social--gp(href="#")
                        i.fa.fa-google-plus
                    a.footer_social--ig(href="#")
                        i.fa.fa-instagram
        .column.large-3.footer_about
            ul.menu.vertical
                li
                    a(href="#") О нас
                li
                    a(href="#") Пользовательское соглашение
                li
                    a(href="#") Агентам
                li
                    a(href="#") Нужна помощь?
    .row.footer_bottom
        | © Zalooka, 2017. Все права на публикуемые материалы защищены.
        .footer_lang
            | RU | 
            a(href="#") EN
include _dropdown
include _popup
script(src="/js/app.min.js")
script(src="https://use.fontawesome.com/5d9df53e16.js")