mixin item(title, country, city, descr, prepay, price, add, large, price_text)
    .large-4.column
        .card(class=large?'card--large':'')
            .card_content
                .card_top
                    .card_flag
                        img(src="https://unsplash.it/40?random", alt="")
                    .card_name
                        if !large
                            a.card_name_link(href="#")
                                =title
                        .card_name_location
                            if large && city
                                a(href="./city.html")
                                    =city
                                | , 
                            a(href="./country.html")
                                =country
                            if !large
                                | , 
                                a(href="./city.html")
                                    =city
                .card_image(class=prepay?'card_image--prepay':'')
                    img(src="https://unsplash.it/345/190/?random", alt=title)
                .card_brief
                    if large
                        ul.menu.vertical
                            li
                                b 456
                                | Экскурсий
                            li
                                b 456
                                | Мест шоппинга
                            li
                                b 456
                                | Спа салонов
                            li
                                b 456
                                | Объектов недвижимости
                            li
                                b 456
                                | Туров
                    else
                        !=descr
            if !large
                .card_bottom(class=!price?'card_bottom--wo':'')
                    .card_bottom_add
                        .card_bottom--left
                            a.card_bottom_more(href="#") Узнать больше
                        .card_bottom--right
                            .rating
                                .rating_stars
                                    i.material-icons.active star_border
                                    i.material-icons.active star_border
                                    i.material-icons.active star_border
                                    i.material-icons star_border
                                    i.material-icons star_border
                                | 2.8
                    .card_bottom_price
                        .card_bottom--left
                            if price_text
                                | От 
                                b 549
                                | 
                                span бат
                                br
                                | За 1 пассажира
                            else if price
                                | Взрослый 
                                b 549
                                | 
                                span бат
                                br
                                | Детский 
                                b 449
                                | 
                                span бат
                            else
                                | Бесплатный трансфер
                        if add
                            .card_bottom--right
                                button.card_add
                                    i.fa.fa-plus-circle