.path
    a(href="/") Главная
    |  > 
    case page
        when 'section'
        when 'pricelist'
            a(href="./country.html") Страна
            |  > 
            a(href="./city.html") Город
            |  >  
            if type == 'tour'
                a(href="./tours.html")
                    | Экскурсии
                |  > 
        when 'location'
            if country
                a(href="./country.html")
                    =country
                |  > 
    if page == 'reviews'
        if country
            a(href="./reviews.html")
                =name
            |  > 
            if city
                a(href="./country.html")
                    =country
                |  >
                a(href="./city.html")
                    =city
            else
                =country
        else
            =name
    else
        =name