.path
    a(href="/") Главная
    |  > 
    case page
        when 'section'
            a(href="./country.html") Страна
            |  > 
            a(href="./city.html") Город
            |  >  
        when 'location'
            if country
                a(href="./country.html")
                    =country
                |  > 
    =name