.review
    .review_left
        .review_avatar
            img(src="https://unsplash.it/50", alt="")
    .review_content
        .review_name
            | Зоя
        .review_info
            .review_info_location
                | Тайланд, Паттайя
            .review_info_item
                | Экскурсия Мадагаскар
            .review_info_date
                | 27/09/2016
        .review_text
            | Древнейшая из экскурсий,однозначно стои своих денег,и того,что на нее надо съездить обязательно!!! То,что вы там увидите,принесет вам массу положительных эмоций и море удовольствия.А кормят там такими блюдами,что вряд ли где то еще это можно попробовать.Храмы Ангкора-это вообще феерия!!!