header.head
    .row.align-middle.align-justify.head_inner
        .column.head_left
            .head_logo
                a(href="/")
                    img(src="/img/logo.svg", alt="Zalooka")
            .head_place
                | Место: 
                a(href="#") Паттайя, Тайланд
            .head_currency
                | Валюта: 
                a(href="#") Тайский бат
        .column.large-4.head_right
            .head_support
                a.head_support_search(data-open="search")
                    i.material-icons search
                a.head_support_button(data-open="support") 
                    i.material-icons headset_mic
                p 24/7 Обслуживание клиентов в Таиланде +666 000 35666
            a.head_account.is_new(href="#")
                img(src="/img/user.svg", alt="Аватар")
nav.nav
    .row.nav_inner
        ul.menu
            li
                a(href="#") ПРАЙС-ЛИСТ
            li
                a(href="#") ЧАВО
            li
                a(href="#") ОТЗЫВЫ
            li
                a(href="#") СТАТЬИ
            li
                a(href="#") КОНТАКТЫ
section.banner
    p.banner_header НАЧНИ  ПУТЕШЕСТВИЕ С  ВЫБОРА  МЕСТА
    .banner_selplace
        form(action="")
            input(type="text" placeholder="Таиланд")
            input(type="text" placeholder="Паттайя")
            input(type="text" placeholder="Услуга")
            input.button(type="submit" value="Перейти")
