extends ../../_layout
block const
    -
        const page = 'profile';
        const type = 'reservations'
        const logged = true;

block content
    section.container.column.section
        .card.card--profile
            .card_tabs
                .card_tabs_tab.active
                    | Мои брони
                a.card_tabs_tab(href="/profile/wishlist.html")
                    | Список желаний
                a.card_tabs_tab(href="/profile/edit.html")
                    | Редактировать профиль
                a.card_tabs_tab(href="/profile/support.html")
                    | Онлайн поддержка
            .card_content.card_content--empty
                .card_content_empty
                    .card_content_empty_img
                        +icon('empty', [72, 72], '#cccccc', [512, 512])
                    | У вас пока нет броней