extends ../../_layout
block const
    -
        const page = 'profile';
        const type = 'reservations'
        const logged = true;

block content
    section.container.column.section
        .card.card--profile
            +tabs(0)
            .card_content.card_content--empty
                .card_content_empty
                    .card_content_empty_img
                        +icon('empty', [72, 72], '#cccccc', [512, 512])
                    | У вас пока нет броней