extends ../../_layout
block const
    -
        const page = 'profile';
        const type = 'support'
        const logged = true;

block content
    section.container.column.section
        .card.card--profile
            +tabs(3)
            .card_content
                