extends ../../_layout
block const
    -
        const page = 'profile';
        const type = 'wishlist'
        const logged = true;

block content
    section.container.column.section
        .card.card--profile
            +tabs(1)
            .card_content.card_content--empty
                .card_content_empty
                    .card_content_empty_img
                        img(src="/assets/img/bird.jpg", alt="")
                    h4.card_content_empty_header
                        | Спасибо, что выбрали take.travel
                        br
                        | Ваш заказ обрабатывается
                    +steps(1)
                    p.card_content_empty_label.thin
                        | Вы будете перенаправлены в личный кабинет через 3 секунды...